.hero {
	height: 400px;
	background-image: var(--hero-image);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	transition: background-image 2s 1s ease-in-out;
}