{% if page.lang %}
	{% capture lang %}lang="{{ page.lang }}"{% endcapture %}
{% else %}
  {% assign lang = "" %}
{% endif %}
{% capture hero_images %}[{% for url in page.hero_image %}"{{ url | relative_url }}",{% endfor %}]{% endcapture %}
<!doctype html>
<html {{ lang }}>
<head>
{% include head.html %}
<script>
(function ready(fn) { (document.readyState != 'loading') ? fn() : document.addEventListener('DOMContentLoaded', fn); console.log(111); })()
function onReady() {
	var hero_images = {{ hero_images }};
	var hero_length = hero_images.length;
	var current_image = 0;
	var hero = document.querySelector(".hero");
	console.log(hero);
	setTimeout(next, 10000);
}
function next() {
	current_image = (current_image + 1) % hero_length;
	hero.style.backgroundImage = "url(" + hero_images[current_image] + ")";
	console.log(current_image);
	setTimeout(next, 10000);
}
</script>
<style>
:root {
	--hero-image: url({{ page.hero_image | sample | relative_url }});
}
.hero {
	background-image: var(--hero-image);
	background-size: cover;
	background-position: center 0;
	background-attachment: fixed;
	transition: background-image 2s ease-in-out;
}
</style>
</head>
<body data-layout="{{ page.layout }}">
	<header>
		<a href="{{ site.baseurl | relative_url }}"><img src="{{ page.logotype | relative_url }}" alt="logo"></a>
	</header>
	<section class="hero">
	</section>
	<footer></footer>
</body>
</html>